{% extends 'FrontendBundle::base.html.twig' %}

{% block header %}
    {% include 'FrontendBundle:Commons:nav-top.html.twig' %}
    {% include 'FrontendBundle:Commons:banner-top.html.twig' %}
{% endblock %}

{% block body %}
    <div class="container container-main">
        {% block error %}
            <div class="row nmr">
                <div class="col-md-12 col-main">
                    {# include 'FrontendBundle:Commons:flashes.html.twig' #}
                </div>
            </div>
        {% endblock %}

        <div class="row nmr">
            <div class="col-md-12 col-main">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    {% include 'FrontendBundle:Commons:footer.html.twig' %}
{% endblock %}