# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*
web/bills/*
web/css/*
# composer files

composer.lock

# Configuration files
app/config/parameters.ini
app/config/parameters.yml

# Eclipse files
.buildpath
.project
.settings/*

#phpstorm
.idea